.spin{
    width: 60%;
    overflow: hidden;
}

.articleBg{
    background-color: black;
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gridCenter{
    display: grid;
    place-items: center;
    
}
@media screen and (max-width: 844px) {
    .center{
        position: relative;
        
    }
    .hide{
        display: none;
    }

    .mediaBox{
        font-size: 16px;
        margin-bottom: auto;
    }
    .mediaFlex{

        display: flex;
        flex-direction: column;
       
    }
}