.skillsBox{
    background-color: black;
    width: 35%;
    height: auto;
    border-radius: 15px;
    margin-right: 2%;
    margin-left: 2%;
}
ul{
    list-style-type: none;
}




@media screen and (max-width:744px){

    .skillsBox{
        width: 50%;
    }
    
}