.skillsBox{
    background-color: black;
    width: 40%;
    height: auto;
    border-radius: 15px;
}
ul{
    list-style-type: none;
}




@media screen and (max-width:744px){

    .skillsBox{
        width: 50%;
    }
    
}